html{
	position: relative;
	min-height: 100%;
}

body{
	margin-bottom: 60px;
}

.logoText{
	font-family: 'Unkempt',bold;
	font-size: 75px;
}

.border{
	border: 5px solid;

}


.cleaner{clear: both;}
.h75 { height: 75px;}
.h10 { height: 10px;}

.pointText{
	font-family: 'Unkempt',bold;
	font-size: 35px;
}

.footer{
	position: absolute;
	bottom: 50px;
	width: 100%;
	height: 60px;
	
}

.badge.alert-success{
	display: inline-block;
  min-width: 10px;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 30px;
  color: red;
}

.gameBox{
	position: fixed;
	top: 40%;
	width: 100%;
}

#main.ng-enter{
	-webkit-animation: shake 5s;
	-moz-animation:shake 5s;
	-o-animation:shake 5s;
	animation:shake 5s;
}

.selectHandAnimation:hover{
	-webkit-animation: pulse 0.5s;
	-moz-animation:pulse 0.5s;
	-o-animation:pulse 0.5s;
	animation:pulse 0.5s;
}



.animateWait.ng-enter.ng-enter-active{
	opacity: 1;
	-webkit-transition:shake 5s;
	-moz-transition:shake 5s;
	-o-transition:5s;
	transition:5s;
}

.enterHand.ng-enter,
.enterHand.ng-enter.ng-enter-active{
	opacity: 1;
	-webkit-animation: bounceIn 2s;
	-moz-animation:bounceIn 2s;
	-o-animation:bounceIn 2s;
	animation:bounceIn 2s;
}

