<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta nome="author" content="Rinaldo Rossi"/>
		<meta name="description" content="Morra Cinese App - AngularJs Javascript CSS3 Animation Node Mongo Express"/>
		<meta http-equiv="X-UA-Compatible" content="IE-Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<title>Morra Cinese App - AngularJs</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css">
		<link rel="stylesheet" type="text/css" href="app.css">
		<link href='http://fonts.googleapis.com/css?family=Unkempt' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="MorraCinese" ng-init="modalStart()" ng-controller="mainController">

	<!-- Main Container-->
	<div id="main" ng-view>
		<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="text-center "><span class="logoText">Morra Cinese</span></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h1 class="text-center"><span class="pointText">{{humanName}} Point: </span><span class="badge alert-success">{{humanScore}}</span></h1>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h1 class="text-center"><span class="pointText">{{computerName}} Point: </span><span class="badge alert-success">{{computerScore}}</span></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-switch on="humanChoose">
				<div class="text-center">
					<img class="waitHand"  ng-src="{{icons[0].wait}}" ng-switch-when="0"/>
					<img class="enterHand" ng-src="{{icons[0].paper}}" ng-switch-when="1"/>
					<img class="enterHand" ng-src="{{icons[0].scissor}}" ng-switch-when="2"/>
					<img class="enterHand" ng-src="{{icons[0].rock}}" ng-switch-when="3"/>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-switch on="computerChoose">
				<div class="text-center">
					<img class="waitHand"  ng-src="{{icons[0].wait}}" ng-switch-when="0"/>
					<img class="enterHand" ng-src="{{icons[0].paper}}" ng-switch-when="1"/>
					<img class="enterHand" ng-src="{{icons[0].scissor}}" ng-switch-when="2"/>
					<img class="enterHand" ng-src="{{icons[0].rock}}" ng-switch-when="3"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="footer">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border text-center">
					<img class="selectHandAnimation" ng-src="{{icons[0].paper}}" ng-click="setGame(1)"/>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border text-center">
					<img class="selectHandAnimation" ng-src="{{icons[0].scissor}}" ng-click="setGame(2)"/>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border text-center">
					<img class="selectHandAnimation" ng-src="{{icons[0].rock}}" ng-click="setGame(3)"/>
				</div>
				<div class="text-center">Icons made by <a href="http://www.scottdejonge.com" title="Scott de Jonge">Scott de Jonge</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.unocha.org" title="OCHA">OCHA</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
			</div>
		</div>
		
	</div>
	</div>

	
	<!-- End Main Container-->


		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="app.js"></script>
		<script src="script/Morra.js"></script>
	</body>
</html>